body {
    background-image: url("../images/background.png");
    -webkit-background-size: 20%;
    background-size: 20%;
}

#header {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}
